{% extends 'Pages/Extended.html' %}

{% block Hospital %}
Complete Process
{% endblock %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submit1").click(function(event){
      x=1
      if(x == 1){
        var today = new Date();   
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        console.log(date)
        var dateTextO = document.getElementById("datepicker");

        var dateTextO = $('#datepicker').val();
        var timeTextO = $('#timepicker').val();
        var res = dateTextO.split("-")
        var year = res[0]
        var month = res[1]
        var day  = res[2]
    
        console.log(today.getMonth)
        console.log(String(timeTextO).length)
        console.log(dateTextO)  
        console.log(date)
        if(today.getFullYear()<=year && today.getMonth()+1 <= month && today.getDate() <= day && timeTextO.length!=0)
        {

        console.log("I am in side the ")
        console.log("insind1e")
        console.log(dateTextO)
        console.log(date)
        var timeTextO = document.getElementById("timepicker");
      }
        else{
          alert("validation Failed");
          event.preventDefault();
        }
      }
    });
  });
  </script>
<!-- <script type="text/javascript">
  function validateMyForm(event)
  {
    let x =1;
    if(x==1)
    { 
      alert("validation failed false");
      event.preventdefault();
      return false;
    }
  else{
    alert("validations passed");
    return true;
  }
  }
  </script> -->
<script>
    $(document).ready(function(){
        
      $("#Add").click(function(){
        i = Count();
        $('#hidden').val(i)
        $('#mydiv').append('<div style="width: 35%; margin-left:55px;"><select class="custom-select mb-3" name="'+ i +'"><option name="volvo" value="101">Cardiology</option><option name="saab" value="201">Neurology</option><option name="fiat" value="301">Nephrology</option><option name="audi" value="401">Orthopedic</option></select><br><br></div>')
      });
    });
    let count = 1;
        function Count() {
            count++;
            return count;
        }
    </script>
<form action="/Hospital/{{ HosId_id }}/CompleteProcess1" id = "myform" method='POST' onsubmit="return validateMyForm(event);">
  {% csrf_token %}
  <div style="width: 100%;">
    <h2 class="mx-3 my-3">Please enter the name of the departments you wish to visit</h2>
    <div class="input-group ml-2" style="width: 40%;">
      <input type="date" class="form-control ml-5" placeholder="Recipient's username" id="datepicker" name="Date" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
      <input type="time" class="form-control " placeholder="Recipient's username" id="timepicker" name="time" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
    <div id="dateTimeAlert"></div>

    </div>
    <!-- <div class="input-group ml-2" style="width: 40%;">
      <input type="time" class="form-control" placeholder="Recipient's username" name="time" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
    </div> -->
  </div>
  <div style="width: 100%;">
    <div class=""style="width: 35%; margin-left:55px; margin-top:20px" >
      <select name="1" class="custom-select mb-3">
        <option  value="101">Registration</option>
        <option  value = "201">Neurology</option>
        <option  value="301">Nephrology</option>
        <option value = "401">Orthopedic</option>
      </select>
    </div>
    <div style="width: 30%;" class="mx-3 my-3 ml-5">
      <button type="button" id="Add" class="btn btn-primary">Add Department</button>
    </div>
  </div>
  <!-- <input type="date" name='Date'> -->
  <!-- <input type ="time" name='time'> -->

  

    
      <!-- <br><br> -->
    <input type="hidden" value='1' id="hidden" name="count">
    <div  id="mydiv" >
    </div>
    <button id="submit1" type="submit" class="btn btn-primary mx-3 my-3 ml-5" onsubmit="return validateMyForm(event);">
      submit
    </button>
  </form>
  <br>
  <!-- <button  id="Add" >Click on this paragraph.</button> -->
{% endblock body %}