{% extends 'Pages/Extended.html' %}

{% block Hospital %}
Complete Process
{% endblock %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        
      $("#Add").click(function(){
        i = Count();
        $('#hidden').val(i)
        $('#mydiv').append('<div><select name="'+ i +'"><option name="volvo" value="101">Volvo</option><option name="saab" value="201">Saab</option><option name="fiat" value="301">Fiat</option><option name="audi" value="401">Audi</option></select><br><br></div>')
      });
    });
    let count = 1;
        function Count() {
            count++;
            return count;
        }
    </script>
<form action="http://localhost:8000/Hospital/{{ HosId_id }}/CompleteProcess1" id = "myform" method='POST'>
  {% csrf_token %}
  <input type="date" name='Date'>
  <input type ="time" name='time'>
    <select name="1">
      <option name = 'volvo' value="101">Volvo</option>
      <option name='saab' value = "201">Saab</option>
      <option name='fiat' value="301">Fiat</option>
      <option name='audi' value = "401">Audi</option>
    </select>
    <br><br>
    <input type="hidden" value='1' id="hidden" name="count">
    <div  id="mydiv" >
    </div>
    <input type="submit">
  </form>
  <br>
  <button  id="Add" >Click on this paragraph.</button>
{% endblock body %}