{% extends 'pages/Extended.html' %}

{% block body %}

{% if counter == count %}
<h2 class="mx-3 my-3 ml-3">The total time that we have predicted is {{ value }} hours for first {{ counter }} department</h2>
{% else %}
<h2 class="mx-3 my-3 ml-3">The total time that we have predicted for {{ counter }} department is {{ value }} hours </h2>
<h2 class="mx-3 my-3 ml-3">You won't be able to reach {{ diff }} department today. You may choose to come for this department some other day </h2>
{% endif %}
    
{% endblock body %}