{% extends "Pages/Extended.html" %}

{% block Hospital %}
{% for i in Pro %}
{% for j in Hos %}
{% if i.Uid == ProId and i.Hospital_id == HosId and j.Hospital_id == HosId %}
<h2 class="display-6">{{ j.Hospital_name }}</h2>
<br>
<h2 class="display-6">- {{ i.Type }}</h2>
{% endif %}
{% endfor %}
{% endfor %}
{%  endblock Hospital %}

{% block body %}
{% url 'Predict' as Predict %}
{% for i in Pro %}
{% if i.Uid == ProId %}
{% if i.Hospital_id == HosId %}
<div class="container-fluid my-3">


  <form action="{{ Predict }}" method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">Department</label>
        <input type="text" class="form-control " id="validationDefault01" value="{{ i.Type }}" readonly>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Hospital Number</label>
        <input type="text" class="form-control" id="validationDefault02" value="{{ i.Hospital_id }}" readonly>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Department Number</label>
        <input type="text" name="Queue_number" class="form-control" id="validationDefault02" value="{{ i.Uid }}"
          readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">Date</label>
        <input type="date" name="Date" class="form-control" id="validationDefault04">
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Entry Time</label>
        <input type="Time" name="Time" class="form-control" id="validationDefault05" required>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>
{% endif %}
{% endif %}
{% endfor %}
{% endblock body %}