<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        function checkPassword(form) { 
                password1 = form.password.value; 
                password2 = form.confirm_password.value; 
  
                // If password not entered 
                if (password1 == '') 
                    alert ("Please enter Password"); 
                      
                // If confirm password not entered 
                else if (password2 == '') 
                    alert ("Please enter confirm password"); 
                      
                // If Not same return False.     
                else if (password1 != password2) { 
                    alert ("\nPassword did not match: Please try again...") 
                    return false; 
                } 
  
                // If same return True. 
                else{ 
                    alert("Password Match!") 
                    return true; 
                } 
            }
    </script>
</head>
<body>
        {% url 'login' as login %}
        <form class="form-horizontal" action='' method="POST">
        {% csrf_token %}
        <div style="padding-top: 150px; margin-left: 300px; margin-right: 300px;">
                <div class="card text-center">
                        <div class="card-header bg-primary text-light font-weight-bold" style = "font-size :larger">
                        Hospital Registration
                        </div>
                        <div class="card-body rounded">
                                <form onSubmit = "return checkPassword(this)">
                                        <div class="form-group row">
                                          <label for="inputEmail3" class="col-sm-2 col-form-label">Hospital Name</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Hospital_name" name="Hospital_name" placeholder="Hospital Name" required>
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                          <div class="col-sm-10">
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                                <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
                                                <div class="col-sm-10">
                                                  <input type="password" class="form-control" name ="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
                                                </div>
                                        </div>
                                        <div class="form-group row">
                                                <label for="inputPassword3" class="col-sm-2 col-form-label">Hospital Image</label>
                                                <div class="controls">
                                                        <input type="file" id="image123" name="image123" placeholder="image" class="input-xlarge rounded" required>
                                                </div>
                                        </div>
                                        
                                        
                                        <div class="form-group row">
                                          <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off" style="padding: 5px 35px;">Register</button>
                                          </div>
                                        </div>

                                        <div class="form-group">
                                                <p class="text-left">Existing User? <a href="{{ login }}" id="signup">Login Here</a></p>
                                             </div>
                                      </form>
                        </div>
                </div>
        </div>
        </form>
</body>
</html>