<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Feedback Form</title>
  </head>
  <body>
    
     <!-- <div class="container-fluid shadow"> -->
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <div class="  shadow p-3 mb-5 bg-white rounded mx-auto my-5" style="max-width: 55rem">
            <div class=" text-center shadow">
            <h5 class="card-header bg-primary">Feedback form</h5>
            </div>
            <form action="" method="POST" >
                {% csrf_token %}  
                <div class="input-group mb-3 my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Patient Id</span>
                    </div>
                    <input type="text" id="Uid" name="Uid" class="form-control"  aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Date</span>
                    </div>
                    <input type="date" name ="Date" class="form-control" id="Date_1" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Name</span>
                    </div>
                    <input type="text" name="Name" class="form-control" id="Name"  aria-describedby="basic-addon3">
                </div>
                <!--Iteration of for loop for options-->
                <div class="input-group mb-3">
                    <select class="custom-select" name="deptno" id="inputGroupSelect02">
                        <option value='101' >Cardiology</option>
                      <option value='201'  >Dermatolory</option>
                      <option value='301'  >Pathology</option>
                      <option value='401'  >Physician</option>
                    </select>
                    <div class="input-group-append">
                      <label class="input-group-text" for="inputGroupSelect02">Options</label>
                    </div>
                  </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Doctor Name</span>
                    </div>
                    <input type="text" class="form-control" name="Doctor" id="Doctor" aria-describedby="basic-addon3">
                </div>
                <!-- <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Patient Id</span>
                    </div>
                    <input type="text" class="form-control"  aria-describedby="basic-addon3">
                </div> -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Hours and Minutes</span>
                    </div>
                    <input type="number" id="waiting_hour" name = "Hour" aria-label="First name" class="form-control">
                    <input type="number" id="waiting_Mins" name="Mins" aria-label="Last name" class="form-control">
                  </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Arrival rate</span>
                    </div>
                    <input type="number" id="Arrival" class="form-control" name="Arrival" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Service rate</span>
                    </div>
                    <input type="number" name="Service" id="Service" class="form-control"  aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >No of queue waiting</span>
                    </div>
                    <input type="number" name="Noqueue" class="form-control" id="Noqueue" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Queue hours</span>
                    </div>
                    <input type="number"  name="Qhour" class="form-control" id="Qhour" aria-describedby="basic-addon3">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Is Our Pediction war Accurate</label>
                </div>
                <button type="submit" id="submit1" class="btn btn-primary my-3">Submit</button>
              </form>
              

<h1 id="token"></h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    $(document).ready(function(){
        
        i =1;
        $("#submit1").click(function(e){
        $('input').each(function() {
            var isvalid=1;
            i=i+1
            console.log(i)
            console.log($(this).val())
            if(!$(this).val()){
                console.log(isvalid)
               isvalid=0;
               
            }
        })
        if(isvalid == 1){
         var x = $("#Uid").val();
        $.post("{% url 'feedback' %}",
        {
            Uid : x,
            Date : $("Date_1").val(),
            csrf_token: "{{ csrf_token  }}",

        },
    
        function(data,status,e){
            var token = data.s
            $("#token").html("<h1 id='token'>Token generated is "+ token+"</h1>");
            alert("json done")
            console.log(token);
            if(token == 0)
            {
                e.preventDefault()
                console.log('wrong user')
            }
            else{
                pass
            }
            
        });
        }  
        else{
            e.preventDefault();
            alert("Please ther remaining field");
        }
    });
    });

    </script>
          </div>
    </div>
    
    <h1>{{ pro }}</h1>
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>